body{
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    background-color: #bdbcbc;
    color: white;
}

#search-container {
    margin: 10px;
}

.search-input {
 width: 80%;
 padding: 20px;   
}

.search-button {
    padding: 20px;
}

.posters {
    padding: 30px;
}